

 <br>
 <br>
 <br>
 <br>
 <br>


<section  >
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			
          <div class="panel panel-default  ">
					<div class="panel-heading">
						<strong> Confirm Details </strong>
					</div>
					<div class="panel-body">
					     <p class="lead">Workspace  </p>
						<button class="btn btn-info " type="button" href="">Pay</button>
					</div>
				
                </div>




		</div>
	</div>
</div>
	
</section>