<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header single-listing" style="background-image: url('contact-bg.jpg')"> 
    <img src=" <%= asset_path('') %>">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Workshed </h1>
                        <span class="subheading">Baatsona , Spintex road</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
                <div class="col-md-8">
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sit amet felis eu lorem lacinia ullamcorper vitae in nisl. Sed at nulla at nisi tincidunt scelerisque nec vitae metus. Quisque ligula est, convallis fermentum blandit a, </p>

                        
                    </article>
                </div>

                <div class="col-md-4">
                    <h5>Features</h5>
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <i class="fa fa-beer" aria-hidden="true"></i>
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>

                    <h5>Review</h5>
                    <p>&#9733;&#9733;&#9734;&#9734;&#9734;</p>                    
                    <button class="btn btn-info book" type="button">Book Space</button>
                </div>

            </div>
        </div>
    </div>
