---
layout: home
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html"><img class="img-responsive" src="assets/img/logo.png" alt="Diji Logo" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#">Register Your Space</a>
                    </li>
                    <li>
                        <a id="come" rel="leanModal" name="login" href="#login">Log In</a>
                    </li>
                    <li>
                        <a id="go" rel="leanModal" name="signup" href="#signup">Sign Up</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Sign Up Form -->
    <div id="signup">
        <div id="signup-ct">
            <div id="signup-header">
                <h2>Create a new account</h2>
                <p>It's simple, and free.</p>
                <a class="modal_close" href="#"></a>
            </div>
            
            <form action="" _lpchecked="1">
                <div class="txt-fld">
                    <label for="">Username</label>
                    <input id="" class="good_input" name="" type="text">
                </div>
                <div class="txt-fld">
                    <label for="">Email address</label>
                    <input id="" name="" type="text">
                </div>
                <div class="txt-fld">
                    <label for="">Password</label>
                    <input id="" name="" type="text">
                </div>
                <div class="txt-fld">
                    <label for="">Confirm Password</label>
                    <input id="" name="" type="text">
                </div>
                <div class="btn-fld">
                    <button class="btn btn-info" type="submit">Sign Up »</button>
                </div>
              </form>
        </div>
    </div>

    <!--Login Form-->
    <div id="signup">
        <div id="signup-ct">
            <div id="signup-header">
                <h2>Sign In</h2>
                <!--<p>It's simple, and free.</p>-->
                <a class="modal_close" href="#"></a>
            </div>
            
            <form action="" _lpchecked="1">
                <div class="txt-fld">
                    <label for="">Username</label>
                    <input id="" class="good_input" name="" type="text">
                </div>
                <div class="txt-fld">
                    <label for="">Password</label>
                    <input id="" name="" type="text">
                </div>
                <div class="btn-fld">
                    <button class="btn btn-info" type="submit">Sign Up »</button>
                </div>
              </form>
        </div>
    </div>


    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!--{% if site.env == "development" %}
      <script src="/assets/javascripts/jquery-2.2.4.js"></script>
    {% else %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {% endif %}-->

  </body>

</html>
