<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="assets/img/sidebar-5.jpg">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="/">
                    <img class="img-responsive" src="assets/img/logo-white.png" >
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="index.html">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="listings.html">
                        <i class="pe-7s-map-2"></i>
                        <p>Listings</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-note2"></i>
                        <p>View Bookings</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-cash"></i>
                        <p>Payments</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-config"></i>
                        <p>Account</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="pe-7s-help1"></i>
                        <p>Help</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>