  
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header single-listing" <%= image_tag @workspace.picture.url if @workspace.picture? %> >
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1><%= @workspace.name %></h1>
                        <span class="subheading"><%= @workspace.location %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                
                <div class="col-md-8">
                    <article>
                        <p><%= @workspace.description %></p>
                        
                    </article>
                </div>

                <div class="col-md-4">
                    <h5>Features</h5>
                    <i class="fa fa-wifi" aria-hidden="true"></i>
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <i class="fa fa-beer" aria-hidden="true"></i>
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>

                    <h5>Review</h5>
                    <p>&#9733;&#9733;&#9734;&#9734;&#9734;</p>     
                    <a href="/works"><button class="btn btn-info book" type="button" href="">Book Space</button></a>               
                    
                   

                </div>

            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <ul>
                  <li>About Us</li>
                  <li>Contact Us</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Terms of Use</li>
                  <li>Privacy Policy</li>
                </ul>
              </div>
              <div class="col-md-4">
                <ul>
                  <li>Facebook</li>
                  <li>Twitter</li>
                </ul>
              </div>
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p class="copyright text-muted">&copy; 2017. Dijispace Ltd.</p>
                </div>
            </div>
        </div>
    </footer>


















<br>
<br>
<br>


<br>
<br>


