



 <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <%= link_to 'List your space'  , list_path  , class: 'btn btn-primary btn-block' %> 
        </div>
          <br>
      <br>
      <br>
      <br>
        <div class="col-md-6 col-md-offset-3">
            <%= link_to 'Update  space'  ,  edit_workspace_path  , class: 'btn btn-primary btn-block' %>
        </div>
    </div>

      
  </div>













<!-- list -->
<!-- new_host_workspace_path -->
 

<!-- {:action=>"edit", :controller=>"workspaces", :host_id => workspaces.host_id , :id=> workspaces.id} -->

 <!--  {:controller=>"workspaces", :action=>"show", :host_id => workspaces.host_id, :id => workspaces.id}  -->

  