<section>
	<center><h1> Signup as a Host </h1></center>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<%= render 'form' %>
			</div>
		</div>
	</div>
</section>