<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- list -->
<!-- new_host_workspace_path -->
  <div class="container">
  	<div class="row">
  		<div class="col-md-6 col-md-offset-3">
  		<%= link_to 'List your space'  , list_path  , class: 'btn btn-primary btn-block' %>	
  		</div>
  	</div>
  </div>

 