<br>
<br>
<br>
<!-- <section>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			
		</div>
	</div>
</div>
	
</section> -->

<section>
  <center><h1> </h1></center>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
         <div class="panel panel-default  ">
          <div class="panel-heading">
            <strong> Sign Up </strong>
          </div>
          <div class="panel-body">
           <%= render 'form' %>
          </div>
        
                </div>

      </div>
    </div>
  </div>
</section>





   <!--  <h1>Hello, there!</h1>
    <h2>This is some content</h2>
    <p>The popup will open in five seconds</p>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
    <script>
      function openColorBox(){
        $.colorbox({iframe:true, width:"80%", height:"80%", href: "http://www.sitepoint.com"});
      }
      
      setTimeout(openColorBox, 5000);
    </script>
   -->