

<!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h4 class="modal-title" id="myModalLabel">Sign In</h4>
      </div>
      <div class="modal-body"> -->
        
      <!-- </div>
      
  </div>
</div> -->



<!-- <script type="text/javascript">
  $(document).ready(function(){
    $("#myModal").modal()
  })
 //  $(function() {
 //    $("#myModal").modal();
 // });
</script> -->



<section>
<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			  <%= render 'sign_up' %>
		</div>
	</div>
</div>
	
</section>

<!-- render 'form' -->

   <!--  <h1>Hello, there!</h1>
    <h2>This is some content</h2>
    <p>The popup will open in five seconds</p>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://www.jacklmoore.com/colorbox/jquery.colorbox.js"></script>
    <script>
      function openColorBox(){
        $.colorbox({iframe:true, width:"80%", height:"80%", href: "http://www.sitepoint.com"});
      }
      
      setTimeout(openColorBox, 5000);
    </script>
   -->